absl-py==1.2.0
aiohttp @ file:///D:/bld/aiohttp_1649013334059/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1636093929600/work
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
astunparse==1.6.3
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
blinker==1.4
brotlipy==0.7.0
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.2.0
certifi==2022.6.15
cffi @ file:///C:/ci_310/cffi_1642682485096/work
charset-normalizer==2.1.0
click @ file:///D:/bld/click_1651215430313/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
conda==4.13.0
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///C:/ci/conda-package-handling_1649106011304/work
cryptography @ file:///C:/ci/cryptography_1639414720302/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
decorator==5.1.1
editdistance==0.6.0
efficientnet==1.0.0
essential-generators==1.0
Flask==2.2.2
flatbuffers==1.12
fonttools @ file:///D:/bld/fonttools_1657249503498/work
frozenlist @ file:///D:/bld/frozenlist_1648771863087/work
gast==0.4.0
gevent==21.12.0
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.3
grpcio==1.47.0
h5py==3.7.0
idna==3.3
imageio==2.20.0
imgaug==0.4.0
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
keras==2.9.0
Keras-Applications==1.0.8
keras-ocr==0.9.1
Keras-Preprocessing==1.1.2
kiwisolver @ file:///D:/bld/kiwisolver_1657953200729/work
libclang==14.0.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib @ file:///D:/bld/matplotlib-suite_1651609646819/work
menuinst @ file:///C:/ci/menuinst_1631733438520/work
multidict @ file:///D:/bld/multidict_1648882567277/work
munkres==1.1.4
networkx==2.8.5
numpy==1.23.1
oauthlib==3.2.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
Pillow @ file:///D:/bld/pillow_1657007292472/work
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.3.0.post3
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1652398519695/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyWavelets==1.3.0
pywin32==302
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016898638/work
scikit-image==0.19.3
scipy @ file:///C:/bld/scipy_1658811088396/work
Shapely==1.8.2
six==1.16.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-gpu==2.9.1
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
tifffile==2022.7.28
tornado @ file:///D:/bld/tornado_1656937934674/work
tqdm @ file:///opt/conda/conda-bld/tqdm_1647339053476/work
typing_extensions==4.3.0
unicodedata2 @ file:///D:/bld/unicodedata2_1649112114189/work
urllib3==1.26.11
validators==0.20.0
Werkzeug==2.2.2
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wincertstore==0.2
wrapt==1.14.1
yarl @ file:///D:/bld/yarl_1648966682693/work
zipp==3.8.1
zope.event==4.5.0
zope.interface==5.4.0
